.pipeline-description {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 10px 10px;
    width: 500px;
    border-radius: 3px;
}

div.hidden {
	display: none;
}

.dataset-item {
	position: relative;
}

.dataset-content .btn-group {
	position: absolute;
	top: 5px;
	right: 10px;
}