{% extends 'package/edit_base.html' %}

{% block subtitle %}{{ _('Pipelines') }} - {{ h.dataset_display_name(pkg) }}{% endblock %}

{% set controller = 'ckanext.controllers.pipeline:ICController' %}

{% block styles %}
  {{ super() }}
  {% resource 'ic_theme/pipeline.css' %}
{% endblock %}

{% block page_primary_action %}
  {% link_for _('Add pipeline'), controller=controller, action='choose_action', id=c.pkg_dict.name, class_='btn', icon='plus' %}
{% endblock %}

{% block primary_content_inner %}
	{% set pipelines = h.get_dataset_pipelines(c.pkg_dict['id']) %}
	{% if pipelines|length > 0 %}
		<ul class="dataset-list unstyled">
		  {% for pipe in pipelines %}
		  <li class="dataset-item">
		  	<div class="dataset-content">
		  	  <h3 class="dataset-heading">
                {{ pipe['name'] }} 
		      </h3>
		      <div class="dropdown btn-group">
			    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			      <i class="icon-share-alt"></i>
			      {{ _('Action') }}
			      <span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu">
			      <li>
			      	<a href="{{ uv_edit_url.format(pipe_id=pipe['id']) }}" target="_blank">
			      	  <i class="icon-edit"></i>
			      	  {{ _('Configure manually') }}
			      	</a>
			      </li>
			      <li>
			        <a href="{{ uv_scheduler_url }}" target="_blank">{{ _('Schedule') }}</a>
			      </li>
			      <li>
			      	{% link_for _('Remove'), controller=controller, action='remove_pipe', id=c.pkg_dict.name, pipeline_id=pipe['id'] %}
			      </li>
			    </ul>
			  </div>
			  {% if pipe['error'] %}
			  <div class="error">Error: {{ pipe['error'] }}</div>
			  {% endif %}
		      <div><p>{{ pipe['description'] }}</p></div>
		      <div>
		        <p>{{ _("Last execution: {time}").format(time=pipe['last_exec']) }}</p>
		        <p>{{ _("Last execution status: ") }}
		          {% if pipe['last_exec_status'] %}
		          <a href="{{ pipe['last_exec_link'] }}" target="_blank">{{ pipe['last_exec_status'] }}</a>
		          {% else %}
		          {% endif %}
		        </p>
		      </div>
		  	</div>
		  </li>
		  {% endfor %}
		</ul>
	{% else %}
		<p>No pipelines assigned.</p>
	{% endif %}
{% endblock %}
