{% extends 'pipeline/choose_assign_action.html' %}

{% import 'macros/form.html' as form %}
{% block styles %}
  {{ super() }}
  {% resource 'ic_theme/pipeline.css' %}
{% endblock %}

{% block subtitle %}{{ _('Choose existing pipeline') }} - {{ h.dataset_display_name(pkg) }}{% endblock %}

{% set controller = 'ckanext.controllers.pipeline:ICController' %}

{% block page_primary_action %}{% endblock %}

{% block primary_content_inner %}
	{% resource 'ic_theme/pipelines.js' %}
	{% set options, descriptions = h.get_pipes_options() %}
	{% snippet 'pipeline/snippets/stages.html', stages=['complete', 'active'] %}
	<form method='post' class="module-content form-vertical" action="{% url_for controller=controller, action='assign', id=c.pkg_dict.name %}">
		{{ form.select('pipeline', label=_('Select pipeline'), options=options, selected=None, error=error, attrs={'size':'5', 'style':'width:500px;'}) }}
		<label class="control-label" for="">Selected pipeline description</label>
		<div id="empty-descr" class="pipeline-description">
		</div>
		{% for descr in descriptions %}
		<div id="{{ descr['id'] }}" class="hidden">
			{{ descr['description'] }}
		</div>
		{% endfor %}
		<div class="form-actions">
		  {% link_for _('Back'), controller=controller, action='choose_action', id=c.pkg_dict.name, class_='btn' %}
		  <input type="submit" class="btn btn-primary" value="Finish" />
		</div>
	</form>
{% endblock %}