{% extends 'pipeline/choose_assign_action.html' %}

{% import 'macros/form.html' as form %}
{% block styles %}
  {{ super() }}
  {% resource 'ic_theme/pipeline.css' %}
{% endblock %}

{% block subtitle %}{{ _('Creating new pipeline') }} - {{ h.dataset_display_name(pkg) }}{% endblock %}

{% set controller = 'ckanext.controllers.pipeline:ICController' %}

{% block page_primary_action %}{% endblock %}

{% block primary_content_inner %}
  {% resource 'ic_theme/pipelines.js' %}
  {% snippet 'pipeline/snippets/stages.html', stages=['complete', 'complete', 'active'], labels=[_('Choose action'), None, _('Finish')] %}
  {% if err_msg %}
  <div class="error">{{ err_msg }}</div>
  <div class="form-actions">
	{% link_for _('Back'), controller=controller, action='show', id=c.pkg_dict.name, class_='btn' %}
  </div>
  {% else %}
  <div id="link-show" class="hidden">{{ link_show }}</div>
  <div>{{ msg }}</div>
  <div class="form-actions">
	{% link_for _('Back'), controller=controller, action='show', id=c.pkg_dict.name, class_='btn' %}
	<a id="finish-create-pipe" class="btn btn-primary" href="{{ uv_url }}" target="_blank">{{ _('Finish') }}</a>
  </div>
  {% endif %}
{% endblock %}